# CodeIgniter cache and logs
/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess

/application/logs/log-*.php
!/application/logs/index.html
!/application/logs/.htaccess

# OS / Editor temporary files
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.swp
*.bak
